/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    background-color: #f16529;
}

div.main-container {
  background-color: white;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    color:#fbded0;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
div.root {
  padding: 4em;
  margin: 2em;
  border: 1px dotted black;
  background-color: white;
}

#essay {
  padding: 4em;
  margin: 2em;
  border: 1px dotted black;
  background-color: white;
}

#text {

}
div.xsl_v2
{
  -webkit-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.47);
  -moz-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.47);
  box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.47);
  padding: 10px 30px;
  background-color: #eeeeee;
}
div.xsl_v1
{
  width: 100%;
}
pre.prettyprint {
    font-size: .8em;
}
article h2.assign_title {
  text-align: center;
  color: black;
  padding: 1em;
}
.main h2 {
font-size: 1.6em;
margin: 10px;
  color: #e44d26;
}
.students a, .students a:visited {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.students a:hover {
  text-decoration: none;
  color: grey;
}
article ul.students {
  list-style: none;
  margin-left: 30px;
}
footer ul, footer a {
font-size: 1.1em;
  list-style: none;
  text-decoration: none;
  color: white;
  margin-left: 10px;
}
footer a:hover {
  text-decoration: none;
  color: #ffccb3;
}
/* HOVER TOOL TIPS FOR NOTES */
sup {

  margin-left: -.5em;
  margin-right: -.2em;
  padding-left: 0;
  text-indent: 0;
}
 sup a {
   text-decoration: none;
 }

[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: help;
    padding: 4px;
}
/* Tooltip styling */
[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: #000;
    color: #fff;
    padding: 1em .5em 1em 1em;
    font-size: 14px;
    line-height: 1.4;
    min-width: 250px;
    text-align: left;
    border-radius: 4px;
}
/* Dynamic horizontal centering */
[data-tooltip-position="bottom"]:before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* Dynamic vertical centering */
[data-tooltip-position="bottom"]:before {
    top: 100%;
    margin-top: 6px;
}
/* Tooltip arrow styling/placement */
[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="bottom"]:after {
    left: 50%;
    margin-left: -6px;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="bottom"]:after {
    top: 100%;
    border-width: 0 6px 6px;
    border-bottom-color: #000;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}
/* Custom styles for formatted XML documents */
#head {
  height: 5em;
}
ul.right-just {
  float: right;
  display: block;
  list-style-type: none;
}

span.italics {
  font-style: italic;
}

span.underline {
  text-decoration: underline;
}

span.bold {
  font-weight: bold;
}
span.caps{
  text-transform: uppercase;
}


figure {
    display: block;

    margin: 20px; /* adjust as needed */
}
figure img {
    display: block;
    margin: 0 auto;
    vertical-align: top;
    max-width: 100%;
    height:auto;
}
figure figcaption {
    border: none;
    text-align: center;
    font-style: italic;
    font-size: smaller;
}


/* Essay custom styles */
div#essay h1 {
  text-align: center;
  font-size: 1.25em;
  margin: 1.5em 0;
}

div#essay {
  font-family: Baskerville,"Baskerville Old Face","Hoefler Text",Garamond,"Times New Roman",serif;
}

div#essay p {
  line-height: 2.5;
}

div#essay p.intro, p.bodyPara, p.concl {
  text-indent: 2.5em;
}

div#references li {
  line-height: 2.5;
  margin-top: 1em;
}

div#footer {
  margin-top: 4em;
}

#essay li {
  list-style-type: none;
}

a.cit {
  color: #2d5986;
  text-decoration: none;
}
a.cit:visited {
  color: #2d5986;
}
a.cit:hover {
  color: #660000;
}

.hanging_indent {
  padding-left: 45px ;
  text-indent: -45px ;
}

/*
MOVIE REVIEWS
*/
div#review_header {
  padding: 2em;
  background-color: #f2f2f2;
  margin-bottom: 2em;
}
#review_header h1 {
  font-family: "Futura", "Helvetica", sans-serif;
  padding: 0.5em;
}

#review_header h3 {
  font-size: 1.2em;
  font-family: "Futura", "Helvetica", sans-serif;
}
#review_header p {
  font-size: 1em;
  font-family: "Futura", "Helvetica", sans-serif;
}

#review_header p.author {
  text-align: center;
}
#review_header a {
  padding: none;
}

#review_header a {
  text-decoration: none;
  color: #2d5986;
}

#review_header a:visited {
  color: #2d5986;
}
#review_header a:hover {
  color: #660000;
}

div#review_content {
  padding-top: 2em;
}

div#review_content p {
  font-family: "new century schoolbook", serif;
  font-size: 1.2em;
  line-height: 2em;
}

/*
SATIRITCAL ARTICLES
*/
div#article_header {
  padding: 2em 2em 2em 0;
  margin-bottom: 2em;
  height: auto;
}
#article_header h1 {
  font-family: "new century schoolbook", serif;
  padding: 0;
  text-align: left;
}
#article_header h3 {
  font-size: 1.2em;
  font-family: "new century schoolbook", serif;
}
#article_header p {
  font-size: 1em;
  font-family: "new century schoolbook", serif;
}
#article figure {
  width: 55%;
  float: right;
  margin-bottom: 2em;
}
#article_body figure img {
  padding: 2em;

}
#article_header p a {
  text-decoration: none;
  color: black;
}

#article_header p a:visited {
  color: black;
}
#article_header p a:hover {
  color: gray;
}

div#article_data {
  display: block;
  width: 37%;
  height: 40%;
  float: left;
}
div#sharing {
  display: block;
  margin: 0 auto;
  text-align: center;
}
div#article_body p {
  font-family: "new century schoolbook", serif;
  font-size: 1.2em;
  line-height: 2em;
}

#article_footer {
  width: 100%;
}

#article_footer p {
  font-size: 1em;
  font-family: "new century schoolbook", serif;
}
#article_footer figure {
  width:30%;
  float: left;
}

#article_footer figure img {

}

#article_footer p a {
  text-decoration: none;
  color: black;
}

#article_footer p a:visited {
  color: black;
}
#article_footer p a:hover {
  color: gray;
}

/*
OP ED
*/
#op_ed h1 {
  font-family: "Futura", "Helvetica", sans-serif;
  padding: 0em;
}

#op_ed h3 {
  font-size: 1.2em;
  font-family: "Futura", "Helvetica", sans-serif;
}
#op_header p {
  padding: 0.5em 1.5em;
  font-size: 1em;
  font-family: "Futura", "Helvetica", sans-serif;
}
#op_body p {
  font-family: "new century schoolbook", serif;
  font-size: 1.2em;
  line-height: 2em;
}

#op_ed figure {
  width: 50%;
  float: right;
}
#op_ed figure img {
  padding:2em;
}

/*
RESUMES
*/
#resume h1 {
  text-align: center;
}
ul#contact {
  list-style-type: none;
}

#resume h3 {
  padding-top: 1em;
}

.resume_date {
  float: right;
}
.resume_location {
  float: left;
}
div.job_head {
  display: block;
  margin: 2em 0;
}

/*
SHARING BUTTONS for Satirical articles
*/
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em
}

.resp-sharing-button span {
  padding-left: 0.4em
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

/*
Custom styles for annotated XML documents
*/
div#ann_intro {
  padding: 3em;
  border: 1px solid;
  border-radius: 1em 5em;
}

div#ann_intro::after {
  content: <h3>"Body"</h3>
}

div#ann_concl {
  padding: 3em;
  border: 1px solid;
  border-radius: 5em 1em;
}

#legend {
  display:block;
  margin: 0 auto;
  width: 70%;
  height: auto;
  padding: 1em;

  border-radius: 2em;
}
#legend p {
  font-size: 2em;
  text-decoration: underline;
  text-align: center;
}
#legend ul {
  margin: 0 auto;
}
#legend li {
  display: block;
  height: auto;
  padding-left: .5em;
  list-style-type:square;
}

#legend li strong {
  text-decoration: underline;
  font-size: 1.2em;
  font-weight: bold;
}

span.scene {color: #a6cee3;}
li.scene {background-color: #a6cee3;}
span.genre {color: #1f78b4;}
li.genre {background-color: #1f78b4;}
span.participants {color: #b2df8a;}
li.participants {background-color: #b2df8a;}
span.setting {color: #33a02c;}
li.setting {background-color: #33a02c;}
span.situation {color: #fb9a99;}
li.situation {background-color: #fb9a99;}
span.context {color: #e31a1c;}
li.context {background-color: #e31a1c;}
span.aesthetics {color: #fdbf6f;}
li.aesthetics {background-color: #fdbf6f;}
span.sim {color: #ff7f00;}
li.sim {background-color: #ff7f00;}
span.diff {color: #cab2d6;}
li.diff {background-color: #cab2d6;}
span.pattern {color: #6a3d9a;}
li.pattern {background-color: #6a3d9a;}
span.argument {color: #cccc00;}
li.argument {background-color: #cccc00;}
span.evidence {color: #b15928;}
li.evidence {background-color: #b15928;}

span.synopsis {color: #a6cee3;}
li.synopsis {background-color: #a6cee3;}
span.opinions {color: #6a3d9a;}
li.opinions {background-color: #6a3d9a;}
span.comparison {color: #33a02c;}
li.comparison {background-color: #33a02c;}
span.summary {color: #b15928;}
li.summary {background-color: #b15928;}
span.date {color: #cab2d6;}
li.date {background-color: #cab2d6;}

span.quote {color: #a6cee3;}
li.quote {background-color: #a6cee3;}
span.source {color: #6a3d9a;}
li.source {background-color: #6a3d9a;}

span.opinion {color: #a6cee3;}
li.opinion {background-color: #a6cee3;}
span.bg_info {color: #6a3d9a;}
li.bg_info {background-color: #6a3d9a;}
span.example {color: #33a02c;}
li.example {background-color: #33a02c;}
span.situation {color: #e31a1c;}
li.situation {background-color: #e31a1c;}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 40%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    article.project
    {
      width:100%
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
